<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>

        <h2 style="padding-top: 1.5em;"> Add a student </h2>

        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">

              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="f_name" id="first-name" placeholder="First Name" required>
              </div>

              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="l_name" id="last-name" placeholder="Last Name" required>
              </div>

              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="year" id="year" placeholder="Year" required>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <select id="last-name" name="section" class="form-control" required>
                    <option selected disabled>Choose section</option>
                    <option>BEX</option>
                    <option>BCT</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="rollno" id="rollno" placeholder="Rollno" required>
              </div>
            </div>

            <div class="form-group col-md-4">
              </div>

            <button type="submit" class="btn btn-primary float-right">Add Student</button>
        </form>
    </div>
</div>
</body>
</html>
